<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link rel="stylesheet" type="text/css" href="/hangman_style.css">
</head>
<body>
	<div id="image">
		<img src="images/<%= turns %>.jpeg" alt="Turns Left">
	</div>
	<p>
		<%= hidden_answer.join(" ") %>
	<form>
		<label>Choose a letter:</label>
		<input type="text" name="letter" size="1">
		<% if guess != answer && turns > 0 %>
		<input type="submit" value="I choose YOU!">
		<% end %>
	</form>
	<p>
		Incorrect letters: <%= incorrect %>
	<p>
		<%= message %>
	</p>
	<% if turns == 0 || guess == answer %>
		<a href="/">Back to index</a>
	<% end %>
</body>
</html>