<!DOCTYPE html>
<html>
<head>
	<title>Hangman's Cipher</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<p>This is a simple web app that let's you play a Hangman guesing game or try an implementation of the Caesar cipher.</p>
<div id="buttons">
	<a href="/hangman">To Hangman</a>
	<a href="/caesar">To Caesar Cipher</a>
</div>
</body>
</html>