<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h2>Welcome to Caesar Cipher!</h2>
	<form>
		<label>Text: </label>
		<input type="text" name="phrase" size="30"><br>
		<label>Factor:</label>
		<input type="number" step="1" name="factor" id="factor"><br>
		<br>
		<input type="submit" value="Encipher" id="button">
	</form>
</body>
</html>